/* body {
    /* background-color: black; */
} */

#header {
    padding: 5%;
    color: brown;
    text-align: center;
    font-size: 300%;
    border-style: solid;
}

#rule {
    text-align: center;
}

#start {
    position: relative;
    margin-left: 725px;
    padding: 20px;
    font-size: 25px;
}

section {
    display: flex;
    float: left;
    border-style: solid;
    width: 48%;
    margin: 13.6px;
    height: 500px;
    background-color: powderblue;
}