body {
    background-color: darkgray;
}

#header {
    padding: 3%;
    color: aliceblue;
    background-color: navy;
    text-align: center;
    font-size: 300%;
    border-style: solid;
    border-radius: 100px;
}

#rule {
    text-align: center;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* this stylizes the question area including the answer choices */
#questionContainer {
    display: flex;
    float: left;
    border-style: solid;
    width: 47%;
    margin: 13.6px;
    height: 500px;
    background-color: powderblue;
    flex-direction: column;
    justify-content: center;
    border-radius: 45px;
}

#introText {
    position: relative;
    font-size: 25px;
    margin-left: 15%;
    margin-right: 10%;
}

#questions {
    font-size: 23px;
    padding-left: 55px;
    padding-right: 30px;
    position: absolute;
    margin-bottom: 310px;
    width: 40%;
}

/* This stylizes the buttons sections */
.buttons {
    flex-direction: column;
    width: 40%;
    position: absolute;
    margin-left: 50px;
    margin-top: 140px;
}

.buttons p {
    font-size: 20px;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    position: relative;
    margin-left: 5px;
    width: 45%;
}

#btn0, #btn1, #btn2, #btn3 {
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#start, #reset {
    padding: 20px;
    font-size: 25px;
}

/* This Customizes the score and timer section */
#scoreContainer {
    display: flex;
    border-style: solid;
    width: 47%;
    margin: 13.6px;
    height: 500px;
    background-color: powderblue;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    float: left;
    border-radius: 45px;
}

#time, #point {
    font-size: 35px;
    position: relative;
    margin-top: 100px;
}