body {
    background-image: linear-gradient(to bottom right, dodgerblue, powderblue);
}

#header {
    padding: 2%;
    color: aliceblue;
    background-color: navy;
    text-align: center;
    font-size: 250%;
    border-style: solid;
    border-radius: 100px;
}

#rule {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: papayawhip;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* this stylizes the question area including the answer choices */
#questionContainer {
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 5px;
    border-color: darkblue;
    width: 47%;
    margin: 13.6px;
    height: 500px;
    background-color: powderblue;
    border-radius: 45px;
    font-family: Helvetica, sans-serif;
}

#introText {
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    font-size: 25px;
}

#questions {
    font-size: 23px;
    padding-left: 75px;
    padding-right: 30px;
    position: absolute;
    margin-bottom: 310px;
    width: 40%;
}

/* This stylizes the buttons sections */
.buttons {
    flex-direction: column;
    width: 40%;
    position: absolute;
    margin-left: 75px;
    margin-top: 125px;
}

.buttons p {
    font-size: 20px;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    position: relative;
    margin-left: 5px;
    width: 45%;
}

#btn0, #btn1, #btn2, #btn3 {
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.control {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#start, #submit {
    padding: 20px;
    font-size: 25px;
    border-radius: 30px;
    border-width: 5px;
}

/* This Customizes the score and timer section */
#scoreContainer {
    border-color: darkblue;
    border-width: 5px;
    display: flex;
    border-style: solid;
    width: 47%;
    margin: 13.6px;
    height: 500px;
    background-color: powderblue;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    float: left;
    border-radius: 45px;
    font-family: Helvetica, sans-serif;
}

#time, #point {
    font-size: 35px;
    position: relative;
    margin-top: 100px;
}

/* This stylizes the highcore area */
#highScoreContainer {
    border-color: darkblue;
    border-width: 5px;
    display: flex;
    border-style: solid;
    width: 97.7%;
    margin: 13.6px;
    height: 220px;
    background-color: powderblue;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 45px;
    font-family: Helvetica, sans-serif;
}

/* This customizes the input box */
#name {
    border-radius: 5px;
    width: 30%;
    height: 7%;
    text-align: center;
    font-size: 20px;
}